<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<typeAliases>
<package name="com.lwj.bean"/>
</typeAliases>

<mappers>
<mapper resource="com/lwj/mapper/OrderMapper.xml"/>
<mapper resource="com/lwj/mapper/UserInfoMapper.xml"/>
<mapper resource="com/lwj/mapper/GoodInfoMapper.xml"/>
<mapper resource="com/lwj/mapper/CartMapper.xml"/>
<mapper resource="com/lwj/mapper/CheckinMapper.xml"/>
</mappers>

</configuration>