<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 以下的命名空间值必须是接口的全路径 -->
<mapper namespace="com.lwj.mapper.GoodInfoMapper">

<!-- id值必须是接口中的唯一方法名称 ,resultMap一定是已经配置好的id -->
<select id="query"  resultType="goodInfo">
select * from goodinfo
</select>
<select id="queryByKind"  resultType="goodInfo">
select * from goodinfo where kind like #{0}
</select>
<select id="queryById"  resultType="goodInfo">
select * from goodinfo where id like #{0}
</select>


<delete id="removeByIds" >
delete from goodinfo where id in 
<foreach collection="array" open="(" separator="," close=")" item="ids" >
#{ids} 
</foreach>
</delete>
</mapper>